# Virtualenv Setup:
# 1. Create a virtual environment: python -m venv venv
# 2. Activate virtual environment:
#    - Windows (PowerShell): .\venv\Scripts\Activate.ps1
#    - Windows (CMD): .\venv\Scripts\activate.bat
#    - macOS/Linux: source venv/bin/activate
# 3. Install requirements: pip install -r requirements.txt

Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Bcrypt==1.0.1
Flask-CORS==4.0.1
python-dotenv==1.0.1
# psycopg2-binary==2.9.9 (Uncomment if using PostgreSQL in production. Requires pg_config/postgres dev headers to compile)
PyJWT==2.8.0
